strategy:
  matrix:
    Linux:
      imageName: 'ubuntu-16.04'
    macOS:
      imageName: 'macos-10.13'
    Windows:
      imageName: 'Windows-2019'

trigger:
- master

pool:
  vmImage: $(imageName)

variables:
  buildConfiguration: 'Release'

steps:
- task: CredScan@2
  displayName: CredScan
  inputs:
    toolMajorVersion: 'V2'
  condition: eq(variables['Agent.OS'], 'Windows_NT')

- task: PoliCheck@1
  displayName: PoliCheck
  inputs:
    inputType: 'Basic'
    targetType: 'F'
    targetArgument: '$(Build.SourcesDirectory)'
    result: 'PoliCheck.xml'
  condition: eq(variables['Agent.OS'], 'Windows_NT')
  
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: custom
    custom: msbuild
    arguments: 'build.proj /t:Build /p:Configuration=$(buildConfiguration)'

- pwsh: 'Install-Module platyPS -Force -Confirm:$false -Scope CurrentUser'
  displayName: 'Install platyPS'

- task: DotNetCoreCLI@2
  displayName: 'Generate Help'
  inputs:
    command: custom
    custom: msbuild
    arguments: 'build.proj /t:GenerateHelp /p:Configuration=$(buildConfiguration)'

- pwsh: 'Test-ModuleManifest .\artifacts\$(buildConfiguration)\PartnerCenter.psd1'
  displayName: 'Validate Manifest'

- task: SFP.build-tasks.custom-build-task-1.EsrpCodeSigning@1
  displayName: 'ESRP CodeSigning copy'
  inputs:
    ConnectedServiceName: 'esrp-partner-center-powershell'
    FolderPath: 'artifacts\$(buildConfiguration)'
    Pattern: 'Microsoft.Store.PartnerCenter.dll,Microsoft.Store.PartnerCenter.PowerShell.dll,*.ps1xml,*.psd1, *.psm1'
    signConfigType: inlineSignParams
    inlineOperation: |
     [
         {
             "keyCode": "CP-230012",
             "operationSetCode": "SigntoolSign",
             "parameters": [
             {
                 "parameterName": "OpusName",
                 "parameterValue": "Microsoft"
             },
             {
                 "parameterName": "OpusInfo",
                 "parameterValue": "http://www.microsoft.com"
             },
             {
                 "parameterName": "FileDigest",
                 "parameterValue": "/fd \"SHA256\""
             },
             {
                 "parameterName": "PageHash",
                 "parameterValue": "/NPH"
             },
             {
                 "parameterName": "TimeStamp",
                 "parameterValue": "/tr \"http://rfc3161.gtm.corp.microsoft.com/TSS/HttpTspServer\" /td sha256"
             }
             ],
             "toolName": "sign",
             "toolVersion": "1.0"
         },
         {
             "keyCode": "CP-230012",
             "operationSetCode": "SigntoolVerify",
             "parameters": [ ],
             "toolName": "sign",
             "toolVersion": "1.0"
         }
     ]
  condition: and(succeeded(), eq(variables['Agent.OS'], 'Windows_NT'))

- task: DeleteFiles@1
  displayName: Delete the code sign summary file
  inputs:
    SourceFolder: '_layout'
    Contents: '**\CodeSignSummary-*.md'
  condition: and(succeeded(), eq(variables['Agent.OS'], 'Windows_NT'))

- task: CopyFiles@2
  displayName: 'Copy artifacts directory to $(build.ArtifactStagingDirectory)'
  inputs:
    SourceFolder: '$(system.DefaultWorkingDirectory)'
    Contents: 'artifacts\**'
    TargetFolder: '$(build.ArtifactStagingDirectory)\'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

- task: CopyFiles@2
  displayName: 'Copy build directory to $(build.ArtifactStagingDirectory)'
  inputs:
    SourceFolder: '$(system.DefaultWorkingDirectory)'
    Contents: 'build\**'
    TargetFolder: '$(build.ArtifactStagingDirectory)\'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact'
  inputs:
    PathtoPublish: '$(build.ArtifactStagingDirectory)'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))