strategy:
  matrix:
    Windows:
      imageName: 'Windows-2019'

trigger:
- master

pool:
  vmImage: $(imageName)

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- pwsh: 'Install-Module platyPS -Force -Confirm:$false -Scope CurrentUser'
  displayName: 'Install platyPS'

- pwsh: 'New-ExternalHelp -Path .\docs\help\ -OutputPath .\src\PowerShell\bin\Release\netstandard2.0'
  displayName: 'Generate MAML'

- pwsh: 'Test-ModuleManifest .\src\PowerShell\bin\Release\net461\PartnerCenter.psd1'
  displayName: 'Validate Manifest (.NET Framework)'

- pwsh: 'Test-ModuleManifest .\src\PowerShell\bin\Release\netstandard2.0\PartnerCenter.psd1'
  displayName: 'Validate Manifest (.NET Standard)'