[
  {
    "EncodedReqeustAddress": "L3YxL29mZmVycz9jb3VudHJ5PVVT",
    "RequestBody": null,
    "RequestHeaders": {
      "MS-PartnerCenter-Client": [
        "Partner Center PowerShell"
      ],
      "MS-CorrelationId": [
        "1465c64a-9e93-46a4-a8da-e3ab67665e64"
      ],
      "X-Locale": [
        "en-US"
      ],
      "MS-RequestId": [
        "13309702-20bc-4e19-9d17-a9524799b970"
      ],
      "MS-SdkVersion": [
        "1.5.1901.1"
      ]
    },
    "RequestMethod": "GET",
    "RequestUri": "https://api.partnercenter.microsoft.com:443/v1/offers?country=US",
    "ResponseBody": "{\r\n  \"totalCount\": 274,\r\n  \"items\": [\r\n    {\r\n      \"id\": \"1C410588-DA3B-4F88-B38F-707EB9DE46C0\",\r\n      \"name\": \"Advanced eDiscovery Storage\",\r\n      \"description\": \"500GB Storage add on for Office 365 Advanced eDiscovery to analyze non-Office 365 content\",\r\n      \"minimumQuantity\": 1,\r\n      \"maximumQuantity\": 10000000,\r\n      \"rank\": 0,\r\n      \"uri\": \"/3c95518e-8c37-41e3-9627-0ca339200f53/Offers/1C410588-DA3B-4F88-B38F-707EB9DE46C0\",\r\n      \"locale\": \"en-US\",\r\n      \"country\": \"US\",\r\n      \"category\": {\r\n        \"id\": \"\",\r\n        \"name\": \"\",\r\n        \"rank\": 0,\r\n        \"locale\": \"en-US\",\r\n        \"country\": \"US\",\r\n        \"attributes\": {\r\n          \"objectType\": \"OfferCategory\"\r\n        }\r\n      },\r\n      \"limitUnitOfMeasure\": \"None\",\r\n      \"limit\": 0,\r\n      \"termUnitOfMeasure\": \"Year\",\r\n      \"term\": 1,\r\n      \"prerequisiteOffers\": [\r\n        \"DB5E0B1C-9CC3-459C-9D08-C61993959FD3\",\r\n        \"096FABDF-AEB1-43DB-B04B-FF453B0AFADC\",\r\n        \"A044B16A-1861-4308-8086-A3A3B506FAC2\",\r\n        \"0F797C58-3B74-40A8-BFA5-383440A99445\",\r\n        \"64168B63-4BCC-41E0-B5CB-7DC548977620\",\r\n        \"6B648C1E-F472-46C0-8379-09F50A3315E0\",\r\n        \"C11D32D0-7943-4137-9FCC-40797C9BEA85\",\r\n        \"8BDBB60B-E526-43E9-92EF-AB760C8E0B72\",\r\n        \"E016B974-A412-404F-98CD-DB92311AFB10\",\r\n        \"C4158AA7-00E7-4CE1-9CF3-3CF8321F377A\",\r\n        \"4F7ECAF1-E9D6-4CAC-9687-E22EB3DFDD70\",\r\n        \"02C07B64-2CD3-4667-B014-561192FC5D1A\",\r\n        \"8BA3FD99-CD7C-48B0-811B-E78F7A4A1B32\",\r\n        \"96D36E53-7E42-4CA3-AE96-BD20E3098D8D\",\r\n        \"11D802D5-4295-44D5-B355-8EAFB184EF36\",\r\n        \"CE139FE5-8BD5-47ED-A5BE-07C286F8B9E0\",\r\n        \"31BEDF01-9E57-4ECE-A53A-D3656A563931\",\r\n        \"E6860EEE-5288-46EC-811B-D8900785FC90\",\r\n        \"B456810A-C414-4E07-98FC-EF74E8175A09\",\r\n        \"C3897426-9F49-4EAF-9B4D-7D9A1C72AEF7\",\r\n        \"FD854431-0659-40CF-96A3-D6D4A263B38A\",\r\n        \"BB800B3B-5B7D-46B8-908A-DC0CE514B797\",\r\n        \"2F192EFE-608A-4C9C-9D19-2B0B70B0962E\"\r\n      ],\r\n      \"isAddOn\": true,\r\n      \"hasAddOns\": false,\r\n      \"isAvailableForPurchase\": true,\r\n      \"billing\": \"license\",\r\n      \"supportedBillingCycles\": [\r\n        \"annual\",\r\n        \"monthly\"\r\n      ],\r\n      \"isAutoRenewable\": true,\r\n      \"isInternal\": false,\r\n      \"isMicrosoftProduct\": true,\r\n      \"conversionTargetOffers\": [],\r\n      \"reselleeQualifications\": [],\r\n      \"resellerQualifications\": [],\r\n      \"salesGroupId\": \"Default\",\r\n      \"isTrial\": false,\r\n      \"acquisitionType\": \"purchase\",\r\n      \"supportedCatalogTypes\": [\r\n        \"sandbox\",\r\n        \"live\"\r\n      ],\r\n      \"actions\": [\r\n        \"Cancel\",\r\n        \"Edit\"\r\n      ],\r\n      \"product\": {\r\n        \"id\": \"CCDC34C6-C244-4602-9DCE-6A32B80D1ECA\",\r\n        \"name\": \"Advanced eDiscovery Storage\",\r\n        \"unit\": \"Add-On Licenses\"\r\n      },\r\n      \"unitType\": \"Add-On Licenses\",\r\n      \"links\": {\r\n        \"learnMore\": {\r\n          \"method\": \"GET\",\r\n          \"headers\": []\r\n        },\r\n        \"self\": {\r\n          \"uri\": \"/offers/1C410588-DA3B-4F88-B38F-707EB9DE46C0?country=US\",\r\n          \"method\": \"GET\",\r\n          \"headers\": []\r\n        }\r\n      },\r\n      \"attributes\": {\r\n        \"objectType\": \"Offer\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"C94271D8-B431-4A25-A3C5-A57737A1C909\",\r\n      \"name\": \"Audio Conferencing\",\r\n      \"description\": \"Enables users to dial-in a number to join meetings, or dial-out to bring participants into the meeting[...]
